APP_NAME=ABC
APP_ENV=production
APP_KEY=base64:dsV8KGPE9/tjoZ0/IaqaZE4UoPCdPd68idwIGNmZ9MQ=
APP_DEBUG=false
APP_URL=http://localhost

JOURNAL_NAME="Apple Banana Cat"
JOURNAL_STAND_FOR="ABC"
JOURNAL_SUBMISSION_URL="https://abc.societyfia.org"
JOURNAL_URL="https://societyfia.org/journal/ABC"
JOURNAL_EMAIL="contact@societyfia.org"
JOURNAL_LOGIN_BG_COLOR="gray"
JOURNAL_LOGIN_TEXT_COLOR="white"
JOURNAL_LOGIN_LOGO="journal-logo.png"

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=laravel_paper_submission
DB_USERNAME=root
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DISK=public
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST='sg1-ts105.a2hosting.com'
MAIL_PORT=465
MAIL_USERNAME='no_reply@societyfia.org'
MAIL_PASSWORD='@Pakistan12345'
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS='no_reply@societyfia.org'
MAIL_FROM_NAME="${JOURNAL_STAND_FOR}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_HOST=
PUSHER_PORT=443
PUSHER_SCHEME=https
PUSHER_APP_CLUSTER=mt1

VITE_APP_NAME="${APP_NAME}"
VITE_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
VITE_PUSHER_HOST="${PUSHER_HOST}"
VITE_PUSHER_PORT="${PUSHER_PORT}"
VITE_PUSHER_SCHEME="${PUSHER_SCHEME}"
VITE_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"
